In [0]:
import pandas as pd
import numpy as np
from datetime import datetime

In [0]:
data = pd.read_csv("Data/combined_csv.csv", delimiter=",", header=None, engine="python")

In [0]:
data

                                                         0
0                                                     ï»¿0
1        240301,16/06/2016 14:37,16/06/2016 14:39,208,C...
2        240301,16/06/2016 14:37,16/06/2016 14:39,208,C...
3        240301,16/06/2016 14:37,16/06/2016 14:47,208,C...
4        240301,16/06/2016 14:37,16/06/2016 14:57,208,C...
...                                                    ...
4666880  296141,27/09/2017 08:37:10,27/09/2017 09:13:00...
4666881  296141,27/09/2017 08:37:10,27/09/2017 09:24:41...
4666882  296141,27/09/2017 08:37:10,27/09/2017 09:29:21...
4666883  296141,27/09/2017 08:37:10,27/09/2017 09:31:58...
4666884  296141,27/09/2017 08:37:10,27/09/2017 09:32:19...

[4666885 rows x 1 columns]

In [0]:
data.head()

                                                   0
0                                               ï»¿0
1  240301,16/06/2016 14:37,16/06/2016 14:39,208,C...
2  240301,16/06/2016 14:37,16/06/2016 14:39,208,C...
3  240301,16/06/2016 14:37,16/06/2016 14:47,208,C...
4  240301,16/06/2016 14:37,16/06/2016 14:57,208,C...

In [0]:
data = data[0].str.split(",", n = 5, expand = True)

In [0]:
cols = ["stop_no", "query_time", "expected_arrival", "route_no", "destination","gps_tracked"]

In [0]:
data = data.rename(columns={0:cols[0], 1:cols[1], 2:cols[2], 3:cols[3],
                            4:cols[4], 5:cols[5]})

In [0]:
data.stop_no.unique()

array(['ï»¿0', '240301', '240491', '240561', '214551', '240001', '241111',
       '225031', '240101', '240171', '296141', 'Westbound', 'Eastbound',
       '214131', 'No Response from Server '], dtype=object)

In [0]:
data = data.dropna()

In [0]:
data.head()

  stop_no        query_time  expected_arrival route_no destination gps_tracked
1  240301  16/06/2016 14:37  16/06/2016 14:39      208   Curraheen       true
2  240301  16/06/2016 14:37  16/06/2016 14:39      208   Curraheen       true
3  240301  16/06/2016 14:37  16/06/2016 14:47      208   Curraheen       true
4  240301  16/06/2016 14:37  16/06/2016 14:57      208   Curraheen       true
5  240301  16/06/2016 14:37  16/06/2016 15:07      208   Curraheen      false

In [0]:
data.shape

(4641596, 6)

In [0]:
data["stop_name"] = [None for i in range(len(data))]

In [0]:
data.head()

,stop_no,query_time,expected_arrival,route_no,destination,gps_tracked,stop_name
1,240301,16/06/2016 14:37,16/06/2016 14:39,208,Curraheen,true,None
2,240301,16/06/2016 14:37,16/06/2016 14:39,208,Curraheen,true,None
3,240301,16/06/2016 14:37,16/06/2016 14:47,208,Curraheen,true,None
4,240301,16/06/2016 14:37,16/06/2016 14:57,208,Curraheen,true,None
5,240301,16/06/2016 14:37,16/06/2016 15:07,208,Curraheen,false,None

In [0]:
data = data[data["stop_no"] != 'No Response from Server ']
data = data[data["stop_no"] != 'Westbound']
data = data[data["stop_no"] != 'Eastbound']
data = data[data["stop_no"] != "214131"]

In [0]:
data.shape

(4641510, 6)

In [0]:
data['query_time'] = pd.to_datetime(data['query_time'], errors='coerce', dayfirst=True)
data = data.dropna(subset=["query_time"])

In [0]:
import dill

In [0]:
yuri = data["query_time"]
yuri.to_pickle("query_time.db")

In [0]:
data['expected_arrival'] = pd.to_datetime(data['expected_arrival'], errors='coerce', dayfirst=True)
data = data.dropna(subset=["expected_arrival"])

In [0]:
data = data.sort_values(["stop_no", "query_time", "expected_arrival"])

In [0]:
data

,stop_no,query_time,expected_arrival,route_no,destination,gps_tracked
2650253,214551,01/02/2017 06:30:34,01/02/2017 06:46:00,208,Bishopstown via CUH,true
2650254,214551,01/02/2017 06:30:34,01/02/2017 07:06:00,208,Bishopstown via CUH,false
2650255,214551,01/02/2017 06:30:34,01/02/2017 07:26:00,208,Bishopstown via CUH,false
2650291,214551,01/02/2017 06:33:38,01/02/2017 06:46:00,208,Bishopstown via CUH,true
2650292,214551,01/02/2017 06:33:38,01/02/2017 07:06:00,208,Bishopstown via CUH,false
...,...,...,...,...,...,...
2310835,296141,31/12/2016 20:54:14,31/12/2016 21:08:00,208,Lotabeg,true
2310851,296141,31/12/2016 20:57:17,31/12/2016 21:08:00,208,Lotabeg,true
2310865,296141,31/12/2016 21:00:19,31/12/2016 21:08:00,208,Lotabeg,true
2310878,296141,31/12/2016 21:03:22,31/12/2016 21:08:00,208,Lotabeg,true
174,296141,Summerhill North (St. Luke's Cross),51.90510667,-8.457983889,,

In [0]:
data = data.reset_index()

In [0]:
data = data.drop(columns=["index"])

In [0]:
data

,stop_no,query_time,expected_arrival,route_no,destination,gps_tracked
0,214551,01/02/2017 06:30:34,01/02/2017 06:46:00,208,Bishopstown via CUH,true
1,214551,01/02/2017 06:30:34,01/02/2017 07:06:00,208,Bishopstown via CUH,false
2,214551,01/02/2017 06:30:34,01/02/2017 07:26:00,208,Bishopstown via CUH,false
3,214551,01/02/2017 06:33:38,01/02/2017 06:46:00,208,Bishopstown via CUH,true
4,214551,01/02/2017 06:33:38,01/02/2017 07:06:00,208,Bishopstown via CUH,false
...,...,...,...,...,...,...
4641505,296141,31/12/2016 20:54:14,31/12/2016 21:08:00,208,Lotabeg,true
4641506,296141,31/12/2016 20:57:17,31/12/2016 21:08:00,208,Lotabeg,true
4641507,296141,31/12/2016 21:00:19,31/12/2016 21:08:00,208,Lotabeg,true
4641508,296141,31/12/2016 21:03:22,31/12/2016 21:08:00,208,Lotabeg,true
4641509,296141,Summerhill North (St. Luke's Cross),51.90510667,-8.457983889,,

In [0]:
data["date"] = data["query_time"].dt.date

In [0]:
data["hour"] = data["query_time"].dt.hour

In [0]:
weather_data = pd.read_csv("Weather/hly3904.csv", header=0)

In [0]:
data["day"] = data["query_time"].dt.weekday

In [0]:
data["is_bank_holiday"] = [0 for i in range(len(data))]

In [0]:
for i in range(len(data)):
    query = pd.to_datetime(data.at[i, "query_time"]).date()
    if query in b_h_objects:
        data.at[i, "is_bank_holiday"] = 1

In [0]:
data.is_bank_holiday.unique()

In [0]:
data["time"] = [datetime.time(d) for d in data["query_time"]]

In [0]:
data["query_time"] = data["time"]

In [0]:
data["expected_arrival"] = [datetime.time(d) for d in data["expected_arrival"]]

In [0]:
data = data.drop(columns=["time"])

In [0]:
data["stop_name"] = np.where(data["stop_no"] == "240301", "North Link (Opp Mayfield Supermarket)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "240491", "St. Patrick Street Debenhams", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "240561", "Western Road (UCC IT Building)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "214551", "Bishopstown Road (Wilton Centre)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "240001", "Curraheen Road (Opp Technology Park)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "225031", "CUH (Bishopstown Rd)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "241111", "Curraheen Road (Cork Tech Park)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "240101", "Western Rd (Opposite UCC IT Building)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "240171", "St. Patrick Street (Savoy Complex)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "296141", "Summerhill North (St. Luke's Cross)", data["stop_name"])
data["stop_name"] = np.where(data["stop_no"] == "214131", "North Link (Opp Mayfield Supermarket)", data["stop_name"])

In [0]:
weather_data = pd.read_csv("Weather/hly3904.csv", header=0)

c:\users\brendan\appdata\local\programs\python\python36-64\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (6,8,9,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
weather_data["date"] = pd.to_datetime(weather_data["date"], dayfirst=True)

In [0]:
weather_data = weather_data[weather_data["date"] > "2016-06-16 13:00:00"]

In [0]:
weather_data = weather_data[weather_data["date"] < "2017-09-27 9:00:00"]

In [0]:
weather_data["time"] = [datetime.time(d) for d in weather_data["date"]]

In [0]:
weather_data["date"] = [datetime.date(d) for d in weather_data["date"]]

In [0]:
data["hour"] = [datetime(2999, 2, 12, d, 0, 0).time() for d in data["hour"]]

In [0]:
weather_data = weather_data.reset_index()

In [0]:
data = data.reset_index()

In [0]:
data["humidity"] = [None for i in range(len(data))]
data["rain"] = [None for i in range(len(data))]
data["temp"] = [None for i in range(len(data))]
data["sun_hours"] = [None for i in range(len(data))]

In [0]:
weather_pointer = 0
for index in data.index:
    date = data.at[index, "date"]
    time = data.at[index, "hour"]
    while True:
        wdate = weather_data.at[weather_data.index[weather_pointer], "date"]
        if date == wdate:
            wtime = weather_data.at[weather_data.index[weather_pointer], "time"]
            if time == wtime:
                data.at[index, "humidity"] = weather_data.at[weather_data.index[weather_pointer], "rhum"]
                data.at[index, "rain"] = weather_data.at[weather_data.index[weather_pointer], "rain"]
                data.at[index, "temp"] = weather_data.at[weather_data.index[weather_pointer], "temp"]
                data.at[index, "sun_hours"] = weather_data.at[weather_data.index[weather_pointer], "sun"]
                break
            else:
                weather_poiner += 1
        else:
            weather_pointer += 1

In [0]:
data.to_csv('complete_dataset.csv', sep=",", header=0)